on: 
  push:
      branches: main
name:  Deploy website on push
jobs:
  web-deploy:
    name:  Deploy
    runs-on: ubuntu-latest
    steps:
    - name:  Get latest code
      uses: actions/checkout@v3

    - name: Use Node.js 18
      uses: actions/setup-node@v2
      with:
        node-version: '18'
      
    - name:  Build Project
      run: |
        npm install
        npm run test
        npm run build
    
    - name: Sync files
      uses: SamKirkland/FTP-Deploy-Action@4.3.3
      with:
        server: ${{secrets.ftp_server}}
        username: ${{secrets.ftp_username}}
        password: ${{secrets.ftp_password}}
        dangerous-clean-slate: true
        local-dir: ./build/